

<!-- Display the search results -->
{{#if searchResults}}
  <h3>Search Results</h3>
  {{#each searchResults}}
    <div class="search-result">
      {{#if this.image}}
        <img src="{{this.image}}" alt="{{this.title}}">
      {{else}}
        <div class="no-image-placeholder">No Image Available</div>
      {{/if}}
      <h4>{{this.title}}</h4>
      <a href="{{this.uri}}" target="_blank">View Details</a>
    </div>
  {{/each}}
   {{#if logged_in}}
{{else}}
  <p>No search results found.</p>
{{/if}}
{{/if}}

<div class="center">
<h1>This is our EarFruit Homepage</h1>

<p>As a person who enjoys music, I want a space where I can share and see others music choices, so that I can discover other songs and music that I might enjoy</p>
</div>










<!-- Loop over each object in the projects array -->
{{#each projects}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <a href="/project/{{this.id}}">{{this.name}}</a>
      </h2>
      <p>
        <span for="img" aria-label="money">💲</span>
        <!-- Pass needed_funding value to the helper function -->
        <span class="dollar-amount">{{format_amount this.needed_funding}}</span>
        needed!
      </p>
      <p>Created by {{this.user.name}} on {{format_date this.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{this.description}}
      </p>
    </div>
  </div>
{{/each}}
